/* Default resets for full viewport IDE */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left;
}
